<div class="card-body" style="padding: 10px;">
  <div class="table-responsive table-body">
    <table class="table table-bordered table-hover table-md">
      <thead class="thead-light" style="text-align: center;">
        <tr>


          <th>+</th>
          <th>Basic Info</th>
          <th>Company</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let cust of contacts
              | paginate: { itemsPerPage: 2, currentPage: p };
            let i = index
          "
          [routerLink]="[i]"
          (click)="onclick(cust.fullname)"
          routerLinkActive="active"
        >

          <td>
            <button
              style="padding: 5px 7px; cursor: pointer;"
              class="btn btn-primary mt-3"
              (click)="Model.show()"
            >
              <i class="fa fa-comments-o" aria-hidden="true"></i>
            </button>
          </td>
          <td>
            <span class="circle mr-2 pt-2">
              <i class="fa fa-user-o fa-2x" aria-hidden="true"></i>
            </span>
            <span class="text mt-1">
              <p>
                <strong>{{ cust.fullname }}</strong>
              </p>
              <p class="email">{{ cust.email }}</p>
            </span>
          </td>
          <td class="text-center">
            <p>
              {{ cust.company }}
            </p>
          </td>
        </tr>
      </tbody>
    </table>
    <p
      class="text-center align-items-center"
      *ngIf="(contacts).length === 0"
    >
      <strong> No contacts available</strong>
    </p>
  </div>
</div>

<div class="pull-right">
  <pagination-controls
    class="my-pagination"
    (pageChange)="p = $event"
  ></pagination-controls>
</div>

<div
  bsModal
  #model="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Message Box</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="messageForm">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Contact:</label>
            <select class="form-control" formControlName="to" #toContact>
              <option *ngFor="let cont of contacts">
                {{ cont.fullname }}</option
              >
            </select>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea
              rows="2"
              type="text"
              class="form-control"
              formControlName="message"
              #tomessage
              placeholder="Enter the message.."
            ></textarea>
          </div>
        </form>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
            (click)="Model.hide()"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            [disabled]="messageForm.invalid"
            (click)="onSendMessage(toContact, tomessage)"
          >
            Send message
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
