th {
  padding: 10px;
}

table{
  max-width: 450px;
  width: 100%5;
}
/* @media (max-width:767px) {
  td {
      width: 5px;
  }
} */

.modal-dialog {
  min-height: calc(100vh - 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;

  width:auto;

}
span.circle {
  height: 45px;
  width: 45px;
  background-color: rgb(111, 157, 255);
  border-radius: 50%;
  display: inline-block;
  padding-bottom: 10px;
  align-content: center;
}

span.text {
  display: inline-block;
}

p.email {
  font-size: smaller;
}

.fa-user-o {

  text-align: center;

  padding-left: 9px;

}
.container{
  max-width: 400px;
}



.modal-header {
  background-color:#007bff;
  color: #ffffff;
}
.my-pagination .ngx-pagination .current{
  background-color:#007bff ;
}
